USE [master]
GO
/****** Object:  Database [TTC_HopDongThueDat]    Script Date: 08/01/2015 07:05:18 ******/
CREATE DATABASE [TTC_HopDongThueDat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTC_test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TTC_test.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TTC_test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TTC_test_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTC_HopDongThueDat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTC_HopDongThueDat]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 08/01/2015 07:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[HoTen_A1] [nvarchar](200) NOT NULL,
	[CMND_A1] [nvarchar](50) NOT NULL,
	[DiaChi_A1] [nvarchar](500) NOT NULL,
	[SDT_A1] [nvarchar](50) NOT NULL,
	[HoTen_A2] [nvarchar](200) NOT NULL,
	[CMND_A2] [nvarchar](50) NOT NULL,
	[MoiQuanHeA] [nvarchar](50) NOT NULL,
	[DiaChi_A2] [nvarchar](500) NOT NULL,
	[SDT_A2] [nvarchar](50) NOT NULL,
	[HoTen_B1] [nvarchar](200) NOT NULL,
	[CMND_B1] [nvarchar](50) NOT NULL,
	[DiaChi_B1] [nvarchar](500) NOT NULL,
	[SDT_B1] [nvarchar](50) NOT NULL,
	[HoTen_B2] [nvarchar](200) NOT NULL,
	[CMND_B2] [nvarchar](50) NOT NULL,
	[MoiQuanHeB] [nvarchar](50) NOT NULL,
	[DiaChi_B2] [nvarchar](500) NOT NULL,
	[SDT_B2] [nvarchar](50) NOT NULL,
	[KiemSoatVien] [nvarchar](200) NOT NULL,
	[SoVu] [int] NOT NULL,
	[TuVu] [nvarchar](50) NOT NULL,
	[DonGiaThue] [float] NOT NULL,
	[TongTien] [float] NOT NULL,
	[UngTruoc] [float] NOT NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HopDong_ChiTiet]    Script Date: 08/01/2015 07:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong_ChiTiet](
	[MaHopDong_ChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[MaVung] [nvarchar](50) NOT NULL,
	[SoThua] [int] NOT NULL,
	[DienTich] [float] NOT NULL,
	[ViTriDat] [nvarchar](200) NOT NULL,
	[LoaiDat] [nvarchar](50) NOT NULL,
	[TinhTrangDat] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_HopDong_ChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHopDong_ChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vung]    Script Date: 08/01/2015 07:05:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vung](
	[MaVung] [nvarchar](50) NOT NULL,
	[TenVung] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Vung] PRIMARY KEY CLUSTERED 
(
	[MaVung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[HopDong_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_ChiTiet_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[HopDong_ChiTiet] CHECK CONSTRAINT [FK_HopDong_ChiTiet_HopDong]
GO
ALTER TABLE [dbo].[HopDong_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_ChiTiet_Vung] FOREIGN KEY([MaVung])
REFERENCES [dbo].[Vung] ([MaVung])
GO
ALTER TABLE [dbo].[HopDong_ChiTiet] CHECK CONSTRAINT [FK_HopDong_ChiTiet_Vung]
GO
USE [master]
GO
